html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 99.7%;
    font-family: 'Quicksand';
}

.nav {
    width: 500px;
    height: 100%;
    background-color: rgb(243, 244, 246);
    position: absolute;
}

.image {
    margin-top: 5%;
    margin-left: 23%;
    width: 300px;
    height: 300px;
    background: url(146.jpg);
    background-size: 100%;    
}

#img1 {
    position: absolute;
    margin-top: 5px;
    transform: translate(-50%);
    margin-left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url('146.jpg');
    background-size: 100%;
    visibility: hidden;
}

#login {
    font-weight: bolder;
    font-size: 18px;
    margin-top: 24px;
    visibility: visible;
}

.text1 {
    position: absolute;
    top: 0.8%;
    left: 24%;
    font-weight: lighter;
    color: #3fa7ff;
}

.text {
    width: 250px;
    height: 270px;
    background-color: white;
    border-radius: 25px;
    top: 50%;
    left: 23%;
    position: absolute;
    font-size: 14px;
    text-align: center;
}

.id {
    font-size: 20px;
    font-weight: bolder;
    margin-top: 20px;
}

.box1 {
    margin-left: 15px;
    width: 220px;
    height: 40px;
    border-radius: 25px;
    background-color: rgb(243, 244, 246);
}

#user {
    top: 23%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}

.box2 {
    margin-top: 10px;
    margin-left: 15px;
    width: 220px;
    height: 40px;
    border-radius: 25px;
    background-color: rgb(243, 244, 246);
}

#pass {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
}

.gogl {
    margin-top: 20px;
    margin-left: 65px;
}

.out {
    margin-top: 15px;
    cursor: pointer;
    visibility: hidden;
}

.out:hover {
    text-decoration: underline;
}

.bar {
    margin-top: 30px;
    margin-left: 30px;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    margin-top: 3px;
    background-color: #3fa7ff;
}